
/**genral stuff*/
body {
    background : #FFFAE5;
}
header {
    background : #FFFAE5;
    border-top-left-radius: 10px;
    bordder-top-right: 10px;
    padding-bottom: 10px;
    margin: auto;

}
.logo{
    margin-right: 10px;
}

h1 {
    font-family: "-apple-system";
    font-size: 70px;
    font-style: unset;
    white-space: nowrap;
}

h2 {
    Font-Family: "-apple-system";
    font-size: 30px;

}
h3 {
    font-family: -apple-system;
    font-size: 20px;


}
h4 {
    font-family: -apple-system;
    font-size:10px;
}

/*main index css*/


/*Logo */
.contajner {
display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}
.img {

    max-width: 100%;
    max-height: 100%;

}
.Name {

}




main{
    background-color:#FFFAE5 ;
    /*margin:0;*/
}
/*Navigation bar*/
nav{

    background: #FFFAE5;
    padding: 0 20px 0 20px;
}
/*contuct us */
aside{

    background: #FFFAE5;
    text-align: center;
}
.bottom_Contact{
    font-size: 20px ;
}


/*copyright*/
footer{
    font-size: 20px;

    background: slategray;
    padding-bottom: 5px;

}
/*navigation bar in depth*/

/*nav li{
    border : 5px;

    list-style-type: none;



    border: 2px solid rgba(225, 189, 2, 1) ;
    background-color:#FFFAE5 ;

    list-style-type: none;
    float: left;
    width: 10%;
    padding: 15px;

}
nav li a{
    color:black;
    text-align: center;
    text-decoration: none;


}
Nav li:hover{
    color: black;
}
.active{
    background-colorr:interactive ;
}
Nav>li{
display: inline-block;

}
Nav ul {
    margin: 0;
    padding: 50px ;
    overflow: hidden;

}

*/

/*ul{
    background-color: slategray;
    position: fixed;
    top: 0;
}
*/

.Welcome{
    padding-top: 10px;
    text-align: center;
    background-color:#FFFAE5 ;
}

/*text in depth*/
.text{
    pading: 10px;
    background-color: #e5eaff;


}
.Para{
    font-size: 15px;
}

.contajner {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
}
.contajnerHeader {
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    margin: 20px;
}
.fest{
    flex:1;
    max-width: 100%;
    height: auto;


}
.Text{

    padding-right:0px;
    padding-left:10px;
    flex: 1;
}
.video{
    text-align: center;
}



